<style>
    html,
    body,
    header,
    .view {
        height: 100%;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .view {
            height: 100vh;
        }
    }

    .top-nav-collapse {
        background-color: #000000 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
            background: #000000 !important;
        }
    }

    h1 {
        letter-spacing: 8px;
    }

    h5 {
        letter-spacing: 3px;
    }

    .hr-light {
        border-top: 3px solid #fff;
        width: 80px;
    }

    .plantImage
     {
        padding: 15px;
        border-radius: 5px;
        width: 250px;
        height: 220px;
    }

</style>

<!-- Main navigation -->
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="./members"><strong>GROWTH</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./members">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./myAccount">My account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'
        style="background-image: url(./img/ren-ran-bBiuSdck8tU-unsplash.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                            data-wow-delay="0.3s"><strong>You're a step closer to developing the ever more vital
                                primordial bond between humans and plants</strong></h1>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.8s">

                        <br>
                        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                            <button id="search-button"><i class="fas fa-search " aria-hidden="true"></i></button>
                            <input id="search-value" class="form-control form-control-sm ml-3 w-75" type="text"
                                placeholder="Search " aria-label="Search" style="color: white;">
                        </form>
                    </div>

                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<div class="container my-5 p-5 z-depth-1 black">

    <div id="mainContainer" class="container mt-5 container row">


        <!--Section: Content-->
        <section class="white-text">

            <!-- Section heading -->
            <h1 id="commonName" class="text-center font-weight-bold mb-4 pb-2" style="color: green;"></h1>
            <!-- Section description -->
            <h2 id="scientificName" class="text-center mx-auto w-responsive mb-5"> </h2>

             <!-- Post title -->
            <p id="familyName" class="text-center font-weight-bold mb-3"><strong></strong></p>

            <!-- Grid row -->
            <div class="row align-items-center">

                
                <!-- Grid column -->
                <div class="col-lg-5">

                    <!-- here is where the image goes image -->
                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                        <div id="plantImage"></div>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7">

                    <!-- Category -->
                    <a href="#!" class="green-text">
                        <h6 class="font-weight-bold mb-3"><i class="fas fa-leaf pr-2"></i>Growth</h6>
                    </a>
                       
                       <!-- Excerpt -->

                    <p id="height"> </p>
                    <p id="growthHabit"> </p>
                    <p id="edibleParts"> </p>
                    <p id="light"> </p>
                    <p id="ph"> </p>
                    <p id="precipitations"> </p>
                    <p id="soilNutriments"></p>
                    <p id="soilSalinity"> </p>
                    <p id="soilTexture"> </p>

                   
                    <!-- add to garden button -->
                    <a class="btn btn-success btn-md btn-rounded mx-0">ADD TO GARDEN</a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-5">

        </section>
        <!--Section: Content-->


    </div>

</div>
<script type="text/javascript" src="js/results.js"></script>